:root {
  --light: #f8f9fa;
  --dark: #343a40;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.h1 {
  font-size: 2.5rem;
  font-weight: 700;
}
.h4 {
  font-size: 1.5rem;
  font-weight: 700;
}
.bg-dark {
  background-color: var(--dark) !important;
}
.color-light {
  color: var(--light) !important;
}
.my-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.px-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.py-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.flex {
  display: flex;
}
.max-content {
  width: max-content;
}
.flex-start {
  justify-content: flex-start;
}
.col {
  flex-direction: column;
}
.border {
  border: 1px solid var(--dark);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.452);
}
.ul-type {
  list-style-type: none;
}
.gap {
  gap: 10px;
}
